{
  "InitialTrainingPeriodDays": 7,
  "RetrainingPeriodDays": 7,
  "ThreatLevels": {
    "High": {
      "ScoreThreshold": 85,
      "Action": "Block"
    },
    "Medium": {
      "ScoreThreshold": 70,
      "Action": "Detect"
    },
    "Low": {
      "ScoreThreshold": 55,
      "Action": "Detect"
    }
  }
}